@font-face {
  font-family: 'Raleway-Medium';
  src: url(fonts/raleway/Raleway-Medium.otf);
}

@font-face {
  font-family: 'Lato-Lig';
  src: url(fonts/lato/Lato-Lig.ttf) ;
}

@font-face {
  font-family: 'Lato-Bol';
  src: url(fonts/lato/Lato-Bol.ttf);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.section {
  color: #6A6A6A;
  font-family: 'Lato-Lig', sans-serif;
  font-size: 16pt;
  /* Add any additional styles for sections */
}

.subsection {
  color: #333333;
  font-family: 'Lato-Bol', sans-serif;
  font-size: 12pt;
  /* Add any additional styles for subsections */
}

.descript {
  color: #333333;
  font-family: 'Raleway-Medium', sans-serif;
  font-size: 11pt;
  /* Add any additional styles for descriptions */
}

.location {
  color: #6A6A6A;
  font-family: 'Raleway-Medium', sans-serif;
  font-size: 10pt;
  /* Add any additional styles for locations */
}
.left-align {
      text-align: left;
}

.right-align {
      text-align: right;
}
